.tooltip-content {
    background-color: var(--background-color-secondary);
    border: 1px solid var(--primary-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 5px;
    margin: 0px 3px;
    z-index: 1000;
    max-width: 200px;
    border-radius: 5px;
    pointer-events: none;
  }

  .tooltip-icon {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin: 0px 5px;
    cursor: pointer;
  }